SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your-smtp-user@gmail.com
SMTP_PASS=your-app-password
ENQUIRY_TO_EMAIL=urbancodeitteam@gmail.com
ENQUIRY_FROM_EMAIL=your-smtp-user@gmail.com

# Cloudinary Configuration
# Public cloud name required for frontend optimizations (e.g. streaming videos, responsive images)
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name

# Private credentials for server-side operations (e.g. secure uploading, deleting assets)
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret
