.main_container{
    background-color: #ebebeb;
  opacity: 0.9;
}
.mission-vision-container img {
  max-width: 100%;
  height: auto;
   /* Optional: rounded corners */
   /* Optional: subtle shadow */
}