.main_container {
  background-color: var(--bg-section-dark);
  opacity: 0.9;
}

.mission-vision-container img {
  max-width: 100%;
  height: auto;
  /* Optional: rounded corners */
  /* Optional: subtle shadow */
}